.client-container {
  margin-top: 26px;
  max-width: 700px;
  margin: 0 auto;
}

.client-title {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
}

.client-products {
  margin-top: 43px;
  display: inline-flexbox; 
   
}